.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 1050px;
    height: 900px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
}